.about{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.desription{
    width: 598px;
    font-size: 24px;
    color: #505050;
}

.container{
    display: flex;
    flex-direction: column;
    gap: 28px;
}